<form [formGroup]="registerForm" (submit)="submit()">
    <p-card>
        <ng-template #title>
            Ajouter un membre
        </ng-template>
            <div class="grid">
                    <div class="col-6">
                        <p-float-label>
                            <input pInputText formControlName="username">
                            <label>Pseudo</label>
                        </p-float-label>
                    </div>
                    <div class="col-6">
                        <p-float-label>
                            <input pInputText formControlName="email">
                            <label>Email</label>
                        </p-float-label>
                        <app-form-error [control]="registerForm.get('email')!"></app-form-error>
                    </div>
                    <div class="col-6">
                        <p-floatLabel>
                            <input pInputText type="number" formControlName="elo">
                            <label>Elo</label>
                        </p-floatLabel>
                    </div>
                    <div class="col-6">
                        <p-floatLabel>
                            <p-calendar styleClass="w-full" formControlName="birthDate"></p-calendar>
                            <label>Date de naissance</label>
                        </p-floatLabel>
                    </div>
                    <div class="col-6">
                        <p-floatLabel>
                            <p-select [options]="genders"
                                    formControlName="gender"
                                    styleClass="w-full"
                                    optionLabel="label"
                                    optionValue="value"
                                    emptyMessage="Aucun"></p-select>
                        </p-floatLabel>
                    </div>
                </div>

        <ng-template #footer>
            <p-button type="submit" [disabled]="isLoading" 
                                    [loading]="isLoading"
                                    loadingIcon="pi pi-cog"
                                    label="Sauver"></p-button>
        </ng-template>
    </p-card>
</form>
