<div class="caption">
<h1>Créer un tournoi</h1>
<p-button label="Retour à la liste" icon="pi pi-chevron-left" iconPos="left" [rounded]="true" severity="contrast" [routerLink]="'/tournament'"/>
</div>

<form [formGroup]="createForm" (submit)="submit()">
  <p-card>
    <div class="grid">
      <div class="col-6">
        <p-floatLabel>
          <input pInputText formControlName="name" />
          <label>Nom du tournoi</label>
        </p-floatLabel>
        <app-form-error [control]="createForm.get('name')!"></app-form-error>
      </div>

      <div class="col-6">
        <p-floatLabel>
          <input pInputText formControlName="location" />
          <label>Lieu</label>
        </p-floatLabel>
        <app-form-error [control]="createForm.get('location')!"></app-form-error>
      </div>

      <div class="col-6">
        <p-floatLabel>
          <input pInputText type="number" formControlName="minPlayers" />
          <label>Nombre minimum de joueurs</label>
        </p-floatLabel>
        <app-form-error [control]="createForm.get('minPlayers')!"></app-form-error>
      </div>

      <div class="col-6">
        <p-floatLabel>
          <input pInputText type="number" formControlName="maxPlayers" />
          <label>Nombre maximum de joueurs</label>
        </p-floatLabel>
        <app-form-error [control]="createForm.get('maxPlayers')!"></app-form-error>
      </div>

      <div class="col-6">
        <p-floatLabel>
          <input pInputText type="number" formControlName="minElo" />
          <label>ELO minimum</label>
        </p-floatLabel>
        <app-form-error [control]="createForm.get('minElo')!"></app-form-error>
      </div>

      <div class="col-6">
        <p-floatLabel>
          <input pInputText type="number" formControlName="maxElo" />
          <label>ELO maximum</label>
        </p-floatLabel>
        <app-form-error [control]="createForm.get('maxElo')!"></app-form-error>
      </div>

      <div class="col-6">
        <p-multiSelect
          [options]="categoriesList"
          formControlName="categories"
          optionLabel="label"
          optionValue="value"
          placeholder="Sélectionner une catégorie"
          display="chip"
          styleClass="w-full"
        ></p-multiSelect>
        <app-form-error [control]="createForm.get('categories')!"></app-form-error>
      </div>

      <div class="col-6">
        <p-floatLabel>
          <p-datepicker styleClass="w-full" formControlName="endOfRegistrationDate"></p-datepicker>
          <label>Date de fin d'inscription</label>
        </p-floatLabel>
        <app-form-error [control]="createForm.get('endOfRegistrationDate')!"></app-form-error>
      </div>
    </div>

    <div class="col-6">
      <label for="womenOnly">Réservé aux femmes ou autres</label>
      <p-toggleswitch formControlName="womenOnly" severity="contrast"></p-toggleswitch>
    </div>

    <p-button type="submit" label="Créer" severity="contrast"></p-button>
  </p-card>
</form>
