.caption {
    display: flex;
    align-items: center;
    justify-content: space-between
}

th{
    font-size: 1.02em;
}

.row{
    justify-content: center;
}

td {
    font-size: 0.95em;
    justify-content: center;
    align-items: center;

    &.more{
        display: flex;
        gap: 0.5em;
}
}
 
.categories{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    
    span{
        background-color: #48ccaf;
        font-weight: bold;
        font-size: 0.75em;
        padding: 5px 10px;
        border-radius: 10px;
        color: #fff;
    }
}